.body-color{
	background-color: #FF8247;
}


.dropdown-container {
	margin: 0;
	padding: 0 0 0 0;
	background-color: #ccc;
	border: 1px solid black;
}

.dropdown-title {
	display: block;
	background-color: #ccc;
	text-decoration: none;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
}

.dropdown-element {
	z-index: 1;
	display: none;
	background-color: #ccc;
	text-decoration: none;
	text-align: center;
	border-top:  2px solid black;
	position: absolute;
	/*padding-top: 2%;*/
	/*width: 200px;*/
}
.element-title{
	padding-top: 2%;
	padding-bottom: 2%;
	border: 1px solid black;
	display: block;
	border-top: none;
	text-align: center;
	background-color: #ccc;
	
}

.active {
	display: block;	
}

.main-content {
	padding-left:12%;
	padding-right: 12%;
}

.main-box{
	background-color: #79CDCD;
	border: 1px solid;
	border-top: none;

}

.main-aside {
	min-height: 300px !important;
	/*border: 1px solid;*/
	border-top: 1px solid;
	/*background-color: #CD5C5C;*/
}
.main-section {
	min-height: 300px !important;
	text-align: justify;
	border: 1px solid;
}

.head-banner{
	background-color: #CD6839;
	border-bottom: 3px solid #8B4726;
}

.foot-banner{
	background-color: black;
	border-top: 3px solid gray;
}
.foot-pad{
	padding-left: 3%;
}
.font-white{
	color:white;
}

