.body-color{
	background-color: #EEE0E5;
}

.head-banner{
	background-color: #CD6839;
}

.dropdown-container {
	margin: 0;
	padding: 0 0 0 0;
	background-color: #ccc;
	border: 1px solid black;
}

.dropdown-title {
	display: block;
	background-color: #ccc;
	text-decoration: none;
	text-align: center;
	padding-top: 2%;
}

.dropdown-content {
	display: none;
}

.dropdown-element {
	z-index: 1;
	display: block;
	background-color: #ccc;
	text-decoration: none;
	text-align: center;
	border: 1px solid black;
	padding-top: 2%;
	border-top: none;
	position: absolute;
}
.element-title{
	display: block;
	text-align: center;
	background-color: #ccc;
	
}

.active {
	display: block;
	
}

.main-content {
	padding-left:10%;
	padding-right: 10%;
}

.main-aside {
	background-color: #A52A2A;
}

.main-section {
	background-color: #79CDCD;
}

.foot-banner{
	background-color: gray;
}
