.dropdown-container {
	margin: 0;
	padding: 0;
}

.dropdown-title {
	display: block;
	background-color: #ccc;
	text-decoration: none;
	text-align: center;
	border: 1px solid black;
	padding: 2% 0;
}

.dropdown-content {

	display: none;
	background-color: #ccc;
}

.dropdown-element {
	z-index: 1;
	display: block;
	background-color: #ccc;
	text-decoration: none;
	text-align: center;
	border: 1px solid black;
	padding: 2% 0;
	border-top: none;
	position: absolute;
}
.element-title{
	display: block;
	text-align: center;
	background-color: #ccc;
	
}

.active {
	display: block;
	
}

.main-content {
	background-color: gray;
}

.main-aside {
	background-color: red;
}

.main-section {
	background-color: blue;
}

.foot-banner{
	background-color: gray;
}